<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="Scripts/angular.js"></script>
    <title></title>
</head>
<body ng-app="myHalliburton">
<div ng-controller="myHalliburtonCtrl">
    <input type="text" ng-model="name" placeholder="Enter name">
    <button ng-click="addName()">Add</button>
    <h1>Filtered List</h1>
    <ol>
        <li ng-repeat="n in names | myFilter">{{n}}</li>
    </ol>

    <h1>Unfiltered List</h1>
    <ol>
        <li ng-repeat="n in names">{{n|capFilter}}</li>
    </ol>
</div>

<script>
    var app = angular.module('myHalliburton',[]);

    app.factory("myService",[function(){
        return({
            items:[
                'Name 1',
                'Name 2'
            ],
            addName:function(name){
                this.items.push(name);
            }
        })
    }]);

    app.controller('myHalliburtonCtrl',['$scope','myService',function($scope,myService){
        $scope.addName=function(){
            myService.addName($scope.name);
            $scope.name='';
        };

        $scope.names = myService.items;

    }]);
    app.controller('myHalliburtonCtrl1',['$scope','myService',function($scope,myService){
        $scope.addName=function(){
            myService.addName($scope.name);
            $scope.name='';
        };

        $scope.names = myService.items;

    }]);

    // Filtered list will contain the words having 'day'
    //Squared bracket are required only when there is dependency on the funtion,or we can remove those.
    app.filter('myFilter',[function(){
        var filter = function(items){
            var filtered=[];
            for(var i=0;i<items.length;i++){
                var item=items[i];
                if(item.search(/day/)!=-1){
                    filtered.push(item);
                }
            }
            return filtered;
        }
        return filter;
    }]);

    app.filter('capFilter',function(){
        return function(text){
            return text.toString().toUpperCase();
        }
    });
</script>
</body>
</html>